:root, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-width: 80%;
    --background-color: rgba(25, 136, 177, .8);
}

/* Font for titles */
.playfair-display-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#main-container footer:last-child {
    justify-self:baseline;
}

#header {
    display: flex;
    justify-content: center;
    padding: 1rem 0 .5rem 0;
    max-width: 100%;
    margin-bottom: 2rem;
}

#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: var(--background-color); /* Your background color with transparency */
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%); /* Creates the angled shape */
    z-index: -1; /* Places it behind the content */
}

.info-cnt {
    display: flex;
    justify-content: center;
    width: var(--main-width);
    position: relative;
}

.img-cnt {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-grow: 1;
    position:relative;
    width: 100%;
    padding: 23vh 0 2vh 0;
    margin-bottom: 1rem;
}
.img::before {
    content: '';
    display: flex;
    justify-self: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity to control the darkness */
    pointer-events: none; /* Ensures the overlay doesn't interfere with any interactions */
    max-width: 230px;

}
.img {
    background-image: url('./images/me.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.name {
    color: #ffffff;
    font-size: 2rem;
    line-height: 3rem;
    z-index: 1;
}

.about-me {
    padding-top: .5rem;
}

.abtme-title {
    display: flex;
    justify-self: center;
    font-size: 2rem;

}
.abtme-info {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.abtme-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.abtme-icons *{
    max-height: 30px;
}

#main {
    flex: 1;
}
.projects-title {
    display: flex;
    justify-content: center;
    padding: .5rem;
    font-size: 1.5rem;
}

#project-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: var(--main-width);
    min-width: 150px;
    max-width: 300px;
    overflow-wrap:anywhere;
    display: flexbox;
    justify-self: center;
}

.project-img-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
    width: 100%;
    background-color: beige;
    margin: .5rem;
}

.prj-hd {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0 .5rem 0;
}

.project-card-icon {
    height: 20px;
}

.project-title {
    font-size: 1.5rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--background-color);
    padding: 1rem;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding: 1rem;
    color: rgb(255, 255, 255);
}

.foot-title {
    display: flex;
    justify-content: center;
}

.footer-message {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.footer-address :nth-child(2) {
    padding-bottom: 1rem;
}

.footer-icons {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    justify-content: space-evenly;
}

.icon {
    height: 50px;
    width: 50px;
}


@media screen and (min-width: 640px) {
    .img-cnt {
        max-width: 230px;
        max-height: 26vh;
        float: left;
        margin-right: 0.5rem;
        margin-bottom: 0;
        background-color: rgb(191, 191, 191);
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .img {
        background-position: left;
        background-size: cover;
        mix-blend-mode: multiply;
    }
    .img::before {
        display: none; /* removes image overlay and changes image darkening to blend mode*/
    }
    .name {
        display: flex;
        position: absolute;
        top:10%;
        left:70%;
        font-size: 3rem;
        gap: 1rem;
    }
    .about-me {
        margin-top: 10vh;
        background-color: #fdfdfd;
        padding: 1rem 1rem 1rem 0.1rem;
        border-radius: 3px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .abtme-title {
        margin-bottom: 1rem;
        line-height: 1.3rem;
    }
    .abtme-info {
        line-height: 1.8rem;
        font-size: 1.8rem;
    }
    .abtme-icons *{
        display: none;
    }
    #project-container {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media screen and (min-width: 960px) {
    .info-cnt {
        max-width: 70%;
    }
    .img-cnt {
        max-height: 45vh;
        max-width: 340px;
    }
    .name {
        position: relative;
        left: 0;
        flex-direction: column;
    }
    .fname { 
        text-indent: -10%;
    }
    .abtme-title {
        font-size: 2em;
    }
    .abtme-info {
        font-size: 1.3rem;
    }
    .abtme-icons {
        justify-content: right;
    }
    .abtme-icons * {
        display: flex;
    }
    #project-container {
        grid-template-columns: repeat(4, 1fr)
    }
    .foot-title {
        font-size: 2rem;
    }
    .footer-message {
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .footer-address {
        font-size: 1.5rem;
    }
    .footer-icons {
        justify-content: center;
        gap: 16px;
    }

}