:root, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-width: 80%;
}

/* Font for titles */
.playfair-display-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#header {
    display: flex;
    justify-content: center;
    padding: 1rem 0 .5rem 0;
    max-width: 100%;
}

#header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(25, 136, 177, 0.8); /* Your background color with transparency */
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%); /* Creates the angled shape */
    z-index: -1; /* Places it behind the content */
}

.info-cnt {
    display: flex;
    justify-content: center;
    width: var(--main-width);
}

.img-cnt {
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url('./images/computer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:30vh;
    min-height: 300px;
    max-height: 350px; 
}

.name {
    display: flex;
    justify-content: center;
    color:antiquewhite;
    font-size: 2rem;
    line-height: 3rem;
    padding: .5rem 0;
}

.about-me {
    text-align: justify;
    text-justify: inter-word;
    padding-top: .5rem;
}

.projects-title {
    display: flex;
    justify-content: center;
    padding: .5rem;
}

#project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: var(--main-width);
    min-width: 150px;
    max-width: 300px;
    overflow-wrap:anywhere;
}

.project-img-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width: 100%;
    background-color: beige;
    margin: .5rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: rgb(25, 136, 177);
    padding: 1rem;
    margin-top: 1rem;
    color: rgb(255, 255, 255);
}

.foot-title {
    display: flex;
    justify-content: center;
}

.footer-message {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.footer-address :nth-child(2) {
    padding-bottom: 1rem;
}

.footer-icons {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    justify-content: space-evenly;
}

.icon {
    height: 50px;
    width: 50px;
}
